@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
  --background: #000000;
  --accent: #101010;
  --text: white;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--background);
  margin: 0px;
}
::-webkit-scrollbar {
  display: none;
}
.ui {
  display: grid;
  grid-template-areas:
    "weather . timetable"
    ". time timetable"
    ". . ."
    ". links ."
    ". . .";
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 3fr auto 1fr auto 3fr;
  > .weather {
    grid-area: weather;
  }
  > .timetable {
    text-align: right;
    grid-area: timetable;
    > .Recess,
    > .Lunch,
    > .Advo {
      font-weight: bold;
    }
  }
  > .weather,
  .timetable {
    font-size: 150%;
    padding: 5px;
  }
  > .time {
    grid-area: time;
    text-align: center;
    > .time {
      font-size: 1000%;
    }
    > .date {
      font-size: 200%;
    }
  }
  > .links {
    grid-area: links;
    display: grid;
    > .catagory {
      > .title {
        text-align: center;
        font-size: 200%;
      }
      > a {
        text-align: center;
        font-size: 150%;
      }
    }
  }
}
a {
  display: block;
  text-decoration: none;
  color: var(--text);
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}
