@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --background: #000000;
  --accent: #101010;
  --text: white;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--background);
  margin: 0px;
}
::-webkit-scrollbar {
  display: none;
}
.ui {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "bike . timetable"
    ". time ."
    ". links ."
    "settings . .";
  > .time {
    grid-area: time;
    font-size: 500%;
    text-align: center;
    > .date {
      font-size: 50%;
    }
  }
  > .links {
    grid-area: links;
    display: grid;
    > .catagory {
      > .title {
        text-align: center;
        font-size: 200%;
      }
      > a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 150%;
        color: var(--text);
        &:hover {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
